<h2>Bienvenido {{first_name}} {{last_name}} </h2>

<h4>Productos disponibles:</h4>

{{#each products}}
<div>
    <p><strong>Nombre del producto:</strong> {{name}}</p>
    <p><strong>Precio:</strong> ${{price}}</p>
    <p>stock {{stock}}</p>
</div>
{{/each}}
